/*! --Fonts-settings---------------------------- */
font-face('Roboto', 'RobotoThin', 'Robotothin', 100)
font-face('Roboto', 'RobotoThin', 'Robotothinitalic', 100, italic)

font-face('Roboto', 'RobotoLight', 'Robotolight', 300)
font-face('Roboto', 'RobotoLight', 'Robotolightitalic', 300, italic)

font-face('Roboto', 'Roboto', , 400)
font-face('Roboto', 'Roboto', 'Robotoitalic', 400, italic)

font-face('Roboto', 'RobotoMedium', 'Robotomedium', 500)
font-face('Roboto', 'RobotoMedium', 'Robotomediumitalic', 500, italic)

font-face('Roboto', 'RobotoBold', 'Robotobold', 700)
font-face('Roboto', 'RobotoBold', 'Robotobolditalic', 700, italic)

font-face('Roboto', 'RobotoBlack', 'Robotoblack', 900)
font-face('Roboto', 'RobotoBlack', 'Robotoblackitalic', 900, italic)
