// Require narmalize
@require '_normalize'

// Style layout
.container
    max-width 1200px
    width 100%
    margin 0 auto
    font-family Roboto
    padding 0 2%
    .row
        margin 0 -2%


.indent10
    margin 10px

.indent20
    margin 20px

.indent30
    margin 30px

.indent40
    margin 40px

.indent50
    margin 50px
